.homeScreen{
    background-size: cover;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 40px;
    background-position: center;
}

.homeScreen .logo{
    max-width: 350px;
}

@media (min-width: 600px){
    .homeScreen{
        background: url("./../public/images/bg.png");
        padding-left: 10%;
        padding-right: 10%;
        
    }
}